:root {
    --orange-color: #F26E1D;
    --orange-color-with-opacity: #f26f1dc4;
    --text-color: #D0d2d3;
    --text-color-focus: white;
    --gray-color: #222;
    --gray-color-with-opacity: rgba(34, 34, 34, 0.836);
    --twitter-blue: #1DA1F2;
    --twitter-blue-with-opacity: #1da0f2c7;
    --twitter-blue-with-opacity-faded: #7accffc7;
    --twitter-deep-blue: #1D37F2;
    --twitter-dark-blue: #0C85D0;
    --dark-blue-faded: #0C85D0;
    --purple: #F21DA1;
    --green: #1DF2D8;
    --dark-green: #0f5e54;

    --main-font: 'Manrope', sans-serif;
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    --container-padding: 0 0.5rem;
    --container-margin: 0 auto;
    --container-border-radius: 10px;
    --container-width: 1000px;
    --section-padding: 8vh 0;
    --section-background: #dadbdb;
    --gray: gray;
    /* #about-section {
        background-color: #f6f6f6;
        padding: 8vh 0;
        box-shadow: 0 0 20px rgba(0, 0, 0, 1);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.164); {SECTION}
    }
    #about-section-container {
        padding: 0 0.5rem;
        margin: 0 auto;
        max-width: 1000px;
    } 
  */
    --text-size: 0.95rem;
    --h2-size: 1.5rem;
    --profile-picture-width: 30%;
    --font-weight: 500;
    --thumbnail-font-size: 2rem;
    --button-margin: 1rem 0;
    --button-main-active-color: rgba(255, 244, 244, 0.596);
    --button-main-hover-color: rgb(68, 68, 68);
}
@media screen and (min-width: 750px) {
    :root {
        --text-size: 1.2rem;
        --h2-size: 2.2rem;
        --profile-picture-width: 120px;
        --thumbnail-font-size: 3rem;
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html {
    font-size: 15px;
    color: #f6f6f6;
    font-family: 'Sora', sans-serif; /* manrope */
    font-style: normal;
}
  
/* The following code declares
    the display settings for this page */
body {
    width: 100%;
    min-height: 100vh;
}

/* font-family: 'Manrope', sans-serif;   manrope bold */
#dropdown-container {
    width: 100%;
    margin: var(--section-padding);
    background-color: var(--section-background);
}
#dropdown-button, 
.class-page-button, 
.dropdown-link button {
    cursor: pointer;
    width: 100%;
    font-size: var(--text-size);
    background-color: var(--gray-color);
    color: white;
    border: none;
    padding: 7px;
    border-radius: 10px;
}
#dropdown-button:is(:hover) {
    background-color: var(--twitter-blue-with-opacity-faded);
}
#dropdown-button:is(:active) {
    background-color: var(--button-main-active-color);
}

/* __________________________________________________________________________________ */
.dropdown-links-none {
    display: none;
}
.dropdown-links {
    background: transparent;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.dropdown-link {
    margin: 10px 0 0 0;
}
.dropdown-link button{
    background-color: var(--twitter-dark-blue);
}
.dropdown-link button:is(:hover) {
    background-color: gray;
}
.dropdown-link button:is(:active) {
    background-color: var(--button-main-active-color);
}

/* style the button for ict_year_eleven.html */
.class-page-button:is(:hover) {
    background-color: gray;
}
.class-page-button:is(:active) {
    background-color: var(--button-main-active-color);
}
.classes-section-content {
    margin: 1rem;
}
.classes-section-content {
    display: block;
    color: black;
    font-size: var(--text-size);
    height: 70vh;
    overflow-y: scroll;
    /* padding: var(--text-size); */
    /* margin: var(--text-size); */
    padding: var(--text-size);
}
/* width */
.classes-section-content::-webkit-scrollbar {
  width: 7px;
}

/* Track */
.classes-section-content::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.classes-section-content::-webkit-scrollbar-thumb {
  background: gray;
}

/* Handle on hover */
.classes-section-content::-webkit-scrollbar-thumb:hover {
  background: rgb(85, 85, 85);
}

.paragraph-black {
    text-align: justify;
    font-size: var(--text-size);
    color: black;
    font-weight: 500;
    margin: var(--text-size) 0;
}
h3 {
    color: black;
    text-align: center;
}
#mcu-question-container {
    display: block;
    margin: 1rem;
    color: black;
}
