:root {
    --orange-color: #Ff6a00;
    --text-color: #D0d2d3;
    --text-color-focus: white;
    --gray-color: #222;
    --gray-color-with-opacity: rgba(34, 34, 34, 0.836);
    --twitter-blue: #1DA1F2;
    --twitter-blue-with-opacity: #1da0f2c7;
    --twitter-mid-blue: #1580c2;
    --twitter-dark-blue: #10547e;
    --dark-blue: #02577A;
    --main-font: 'Manrope', sans-serif;
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);

    /* --large-screen-text-size: 1.3rem;
    --large-screen-h2-size: 2.2rem; */
    --text-size: 1rem;
    --h2-size: 1.5rem;
}
@media screen and (min-width: 750px) {
    :root {
        --text-size: 1.2rem;
        --h2-size: 2.2rem;
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html {
    font-size: 16px;
    color: #f6f6f6;
    font-family: 'Sora', sans-serif; /* manrope */
    font-style: normal;
}
  
/* The following code declares
    the display settings for this page */
body {
    width: 100%;
    min-height: 100vh;
}

/* font-family: 'Manrope', sans-serif;   manrope bold */

/* The code below styles the header / .nav */

#header {
    --navbar-height: 3rem;
    --navbar-height-desktop: 4rem;
    position: fixed;
    height: var(--navbar-height);
    background: transparent;
    left: 0;
    right: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    z-index: 10;
}
.container {
    max-width: 1000px;
    padding: 0 0.1rem;
    margin: 0 auto;
}
.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}
.navbar-item {
    margin: 0.4em;
    width: 100%;
}
.home-link,
.navbar-link {
  color: white;
  text-decoration: none;
  display: flex;
  font-family: var(--main-font);
  font-weight: bold;
  align-items: center;
}
.home-link:is(:focus, :hover) {
    color: var(--text-color);
}
.navbar-link {
    justify-content: flex-start;
    width: 100%;
    padding: 0.4em 0.8em;
    border-radius: 5px;
    border: solid 0.2px var(--twitter-blue-with-opacity);
}
  
.navbar-link:is(:focus, :hover) {
    color: var(--twitter-blue);
}
.navbar-logo {
    background-color: var(--twitter-blue);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 0.6em;
}
#navbar-toggle {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.icon-bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 2px;
    background-color: var(--twitter-blue);
}
#navbar-toggle:is(:focus, :hover) .icon-bar {
    background-color: var(--text-color);
}
#navbar-toggle[aria-expanded='true'] .icon-bar:is(:first-child, :last-child) {
    position: absolute;
    margin: 0;
    width: 30px;
}
#navbar-toggle[aria-expanded='true'] .icon-bar:first-child {
    transform: rotate(45deg);
}
  
#navbar-toggle[aria-expanded='true'] .icon-bar:nth-child(2) {
    opacity: 0;
}
  
#navbar-toggle[aria-expanded='true'] .icon-bar:last-child {
    transform: rotate(-45deg);
}

/* RESPONSIVE NAVBAR MENU */
#navbar-menu {
    position: fixed;
    top: var(--navbar-height);
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    left: 0;
    right: 0;
}
#navbar-toggle[aria-expanded='true'] + #navbar-menu, #header {
    background-color: rgba(0, 0, 0, 0.849);
    opacity: 1;
    visibility: visible;
}


/* the following declaration is used to add a background image */
body {
    background: linear-gradient(95deg, rgba(0, 0, 0, 0.849), rgba(0, 0, 0, 0.784)), url(/images/4\ copy.jpg), url(/images/4\ copy.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-links {
    list-style: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    right: 0;
    /* margin: 1.4rem;
    border-radius: 5px; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
  
#navbar-toggle[aria-expanded='true'] + #navbar-menu .navbar-links {
    padding: 1em;
}


/* ____________________________________________________________________________________
__________________________________________________________________________________________ */
/* Styling for the main section  */
#welcome-section {
    margin: auto;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 1.9em;
    font-family: var(--main-font);
    font-weight: bolder;
}
p {
    font-size: 1.5em;
    font-weight: lighter;
    color: var(--twitter-blue);
    /* line-height: 3; */
}

#portfolio-link {
    text-decoration: none;
    line-height: 5;
}
#portfolio-button {
    padding: 7px 20px;
    border-radius: 20px;
    cursor: pointer;
    border: solid 3px white;
    background: transparent;
    color: var(--twitter-blue);
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}
#portfolio-button:is(:focus, :hover) {
    background-color: var(--gray-color);
}

#main-social-media {
    position: absolute;
    bottom: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 1000px;
    height: auto;
    padding: 0 0.5rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#social-media-links {
    display: flex;
    flex-direction: column;
}
.social-media-link {
    text-decoration: none;
    color: white;
    margin: 0.5rem 0;
}
@media screen and (max-width: 300px) {
    #main-social-media {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    #social-media-links {
        display: flex;
        flex-direction: row;
    }
}

/* ____________________________________________________________________________________
__________________________________________________________________________________________
-__________________________________________________________________________________________
______________________________________________________________________________________ */
/* media query for desktop view => BOTH LARGE AND SMALL SCREENS*/
@media screen and (min-width: 750px) {
    #navbar-toggle,
    #navbar-toggle[aria-expanded='true'] {
      display: none;
    }

    #navbar-menu,
    #navbar-toggle[aria-expanded='true'] + #navbar-menu {
        background: transparent;
      visibility: visible;
      opacity: 1;
      position: static;
      display: block;
      height: 100%;
    }

    .navbar-links,
    #navbar-toggle[aria-expanded='true'] + #navbar-menu .navbar-links {
      margin: 0;
      padding: 0;
      box-shadow: none;
      position: static;
      flex-direction: row;
      width: 100%;
      height: 100%;
    }

    #header {
        height: var(--navbar-height-desktop);
        background: transparent;
        left: 0;
        right: 0;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.021);
    }
    .navbar-link {
        justify-content: center;
        border: none;
    }
    /* __________________________________________________________
    ______________________________________________________________________
    
    */
    h1 {
        font-size: 3em;
    }
    p {
        font-size: 1.9em;
    }
}

@media screen and (min-width: 900px) {
    h1 {
        font-size: 5vw;
    }
    p {
        font-size: 1.9em;
    }
    #portfolio-button {
        padding: 10px 30px;
    }
}

/* STYLING THE ABOUT SECTION __________________________________________________________
________________________________________________________________________
__________________________________________________________________________________ */

#about-section {
    background-color: #f6f6f6;
    padding: 8vh 0;
}
#about-section-container {
    padding: 0 0.5rem;
    margin: 0 auto;
    max-width: 1000px;
}
h2 {
    color: var(--twitter-blue);
    font-size: var(--h2-size);
    font-family: var(--main-font);
}
#about-me-paragraph {
    width: 100%;
    text-align: justify;
    font-size: var(--text-size);
    color: #222;
    font-weight: 400;
}
#mobile-underline, #mobile-underline-below {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #222;
    opacity: 0.5;
}
#mobile-underline {
    margin: 0 0 4px 0;
}

#mobile-underline-below {
    margin: 4px 0 0 0;

}

#mobile-underline-blue, #mobile-underline-blue-below {
    width: 50%;
    height: 10px;
    opacity: 0.7;

}

#mobile-underline-blue {
    position: relative;
    right: 0; 
    left: 50%;
    margin: 0 0 10px 0;
    background: linear-gradient(90deg, #1DA1F2, #105d8d);
    transform: skewX(30deg);
    border-radius: 0 10px 10px 100%;
}
#mobile-underline-blue-below {
    margin: 10px 0 0 0;
    background: linear-gradient(90deg, #105d8d, #1DA1F2);
    transform: skewX(30deg);
    border-radius: 10px 100% 0 10px;
}

/* MEDIa QUERY FOR LARGER SCREENS */
@media screen and (mIn-width: 750px) {
    /* #mobile-underline, #mobile-underline-below {
        display: none;
    } */
    #mobile-underline-blue, #mobile-underline-blue-below {
        width: 25%;
        height: 20px;
        opacity: 0.7;
    }
    #mobile-underline-blue {
        right: 0; 
        left: 75%;
        margin: 0 0 10px 0;
    }
}