:root {
    --orange-color: #F26E1D;
    --orange-color-with-opacity: #f26f1dc4;
    --text-color: #D0d2d3;
    --text-color-focus: white;
    --gray-color: #222;
    --gray-color-with-opacity: rgba(34, 34, 34, 0.836);
    --twitter-blue: #1DA1F2;
    --twitter-blue-with-opacity: #1da0f2c7;
    --twitter-blue-with-opacity-faded: #7accffc7;
    --twitter-deep-blue: #1D37F2;
    --twitter-dark-blue: #0C85D0;
    --dark-blue-faded: #0C85D0;
    --purple: #F21DA1;
    --green: #1DF2D8;
    --dark-green: #0f5e54;

    --main-font: 'Manrope', sans-serif;
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    --container-padding: 0 0.5rem;
    --container-margin: 0 auto;
    --container-border-radius: 10px;
    --section-padding: 8vh 0;
    --section-background: #dadbdb;
    --gray: gray;
    /* #about-section {
        background-color: #f6f6f6;
        padding: 8vh 0;
        box-shadow: 0 0 20px rgba(0, 0, 0, 1);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.164); {SECTION}
    }
    #about-section-container {
        padding: 0 0.5rem;
        margin: 0 auto;
        max-width: 1000px;
    } */
    /* --large-screen-text-size: 1.3rem;
    --large-screen-h2-size: 2.2rem; */
    --text-size: 0.95rem;
    --h2-size: 1.5rem;
    --profile-picture-width: 30%;
    --font-weight: 500;
    --thumbnail-font-size: 2rem;
}
@media screen and (min-width: 750px) {
    :root {
        --text-size: 1.2rem;
        --h2-size: 2.2rem;
        --profile-picture-width: 120px;
        --thumbnail-font-size: 3rem;
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html {
    font-size: 15px;
    color: #f6f6f6;
    font-family: 'Sora', sans-serif; /* manrope */
    font-style: normal;
}
  
/* The following code declares
    the display settings for this page */
body {
    width: 100%;
    min-height: 100vh;
}

/* font-family: 'Manrope', sans-serif;   manrope bold */

/* The code below styles the header / .nav */

#header {
    --navbar-height: 3rem;
    --navbar-height-desktop: 4rem;
    position: fixed;
    height: var(--navbar-height);
    background: transparent;
    left: 0;
    right: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    z-index: 10;
}
.container {
    max-width: 1000px;
    padding: 0;
    margin: 0 auto;
}
.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}
.navbar-item {
    margin: 0.4em;
    width: 100%;
}
.home-link,
.navbar-link {
  color: white;
  text-decoration: none;
  display: flex;
  font-family: var(--main-font);
  font-weight: bold;
  align-items: center;
}
.home-link:is(:focus, :hover) {
    color: var(--text-color);
}
.navbar-link {
    justify-content: center;
    width: 100%;
    padding: 0.4em 0.8em;
    border-radius: 5px;
    border: solid 0.2px var(--twitter-blue-with-opacity);
}
  
.navbar-link:is(:focus, :hover) {
    color: var(--twitter-blue);
}
.navbar-link:is(:active) {
    color: var(--green);
}
.navbar-logo {
    background-color: var(--twitter-blue);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 0 0.6em 0 0.4em;
}
#navbar-toggle {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.icon-bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 2px;
    background-color: var(--twitter-blue);
}
#navbar-toggle:is(:focus, :hover) .icon-bar {
    background-color: var(--text-color);
}
#navbar-toggle[aria-expanded='true'] .icon-bar:is(:first-child, :last-child) {
    position: absolute;
    margin: 0;
    width: 30px;
}
#navbar-toggle[aria-expanded='true'] .icon-bar:first-child {
    transform: rotate(45deg);
}
  
#navbar-toggle[aria-expanded='true'] .icon-bar:nth-child(2) {
    opacity: 0;
}
  
#navbar-toggle[aria-expanded='true'] .icon-bar:last-child {
    transform: rotate(-45deg);
}

/* RESPONSIVE NAVBAR MENU */
#navbar-menu {
    position: fixed;
    top: var(--navbar-height);
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    left: 0;
    right: 0;
}

#navbar-toggle[aria-expanded='true'] + #navbar-menu, #header {
    background-color: rgba(0, 0, 0, 0.849);
    opacity: 1;
}

#navbar-toggle[aria-expanded='true'] + #navbar-menu {

    visibility: visible;
    animation-name: fadeIn;
    animation-duration: 0.5s;
}
@keyframes fadeIn {
    0% {
        right: 0;
        left: 100%;
    }
    100% {
        right: 0;
        left: 0;
    }
}



/* the following declaration is used to add a background image */
body {
    background: linear-gradient(95deg, rgba(0, 0, 0, 0.849), rgba(0, 0, 0, 0.784)), url(/images/4\ copy.jpg), url(/images/4\ copy.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-links {
    list-style: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    right: 0;
    /* margin: 1.4rem;
    border-radius: 5px; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
  
#navbar-toggle[aria-expanded='true'] + #navbar-menu .navbar-links {
    padding: 1em;
}
#hire-me-button {
    width: 100%;
    padding: 7px 0;
    cursor: pointer;
    background: transparent;
    color: white;
    font-family: var(--main-font);
    font-weight: bold;
}


/* ____________________________________________________________________________________
__________________________________________________________________________________________ */
/* Styling for the main section  */
#welcome-section {
    margin: auto;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 1.9em;
    font-family: var(--main-font);
    font-weight: bolder;
    /* line-height: 1; */
}
.first-caption {
    display: none;
    /* line-height: 3; */
}
.first-c {
    display: block;
    font-size: 1.4em;
    font-weight: lighter;
    color: var(--twitter-blue);
    animation-name: caption;
    animation-duration: 1S;
}
@keyframes caption {
    0% {
        font-size: 0;
    }
    100% {
        font-size: 1.4em;
    }
}

#portfolio-link {
    text-decoration: none;
    line-height: 5;
}
.portfolio-button {
    display: none;

}
.displayBtn {
    display: block;
    margin: 1rem 0;
    padding: 7px 20px;
    border-radius: 20px;
    cursor: pointer;
    border: solid 3px var(--green);
    background: transparent;
    color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    animation-name: port;
    animation-duration: 2s;
}
@keyframes port {
    0% {
        opacity: 0;
        background-color: rgba(255, 255, 255, 0.671);
    }
    100% {
        opacity: 1;
        background-color: transparent;
    }
}

.displayBtn:is(:focus, :hover) {
    cursor: pointer;
    background-color: rgb(68, 68, 68);
}
.displayBtn:is(:active) {
    background-color: rgba(255, 244, 244, 0.596);
}
#main-social-media {
    position: absolute;
    bottom: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 1000px;
    height: auto;
    padding: 0 0.5rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.social-media-links {
    display: flex;
    flex-direction: column;
}
.social-media-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.3rem;
    margin: 0.52rem;
}
@media screen and (max-width: 300px) {
    #main-social-media {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .social-media-links {
        display: flex;
        flex-direction: row;
    }
}

/* ____________________________________________________________________________________
__________________________________________________________________________________________
-__________________________________________________________________________________________
______________________________________________________________________________________ */
/* media query for desktop view => BOTH LARGE AND SMALL SCREENS*/
@media screen and (min-width: 750px) {
    nav {
        display: flex;
        justify-content: space-between;
    }

    #navbar-toggle,
    #navbar-toggle[aria-expanded='true'] {
      display: none;
      position: absolute;
    }

    #navbar-menu,
    #navbar-toggle[aria-expanded='true'] + #navbar-menu {
        background: transparent;
      visibility: visible;
      opacity: 1;
      position: static;
      display: block;
      height: 100%;
    }

    .navbar-links,
    #navbar-toggle[aria-expanded='true'] + #navbar-menu .navbar-links {
      margin: 0;
      padding: 0;
      box-shadow: none;
      position: static;
      flex-direction: row;
      width: 100%;
      height: 100%;
    }

    #header {
        height: var(--navbar-height-desktop);
        background-color: rgba(34, 34, 34, 0.541);
        left: 0;
        right: 0;
        box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.192);
    }

    .navbar-link {
        margin: 0;
        display: flex;
        justify-content: center;
        border: none;
    }
    .navbar-link {
        justify-content: flex-end;
        /* width: 100%; */
        padding: 0.4em 0 0.4em 0.8em;
        border-radius: 5px;
        border: none;
    }



    /* __________________________________________________________
    ______________________________________________________________________
    
    */
    h1 {
        font-size: 3em;
    }
    p {
        font-size: 1.9em;
    }
}

@media screen and (min-width: 900px) {
    h1 {
        font-size: 4em;
    }
    .first-c {
        display: block;
        font-size: 1.9em;
        font-weight: lighter;
        color: var(--twitter-blue);
        animation-name: caption;
        animation-duration: 1S;
    }
    @keyframes caption {
        0% {
            font-size: 0;
        }
        100% {
            font-size: 1.9em;
        }
    }
    .portfolio-button {
        display: none;
        
    }
    .displayBtn {
        display: block;
        padding: 10px 30px;
        border-radius: 20px;
        cursor: pointer;
        border: solid 3px var(--green);
        background: transparent;
        color: white;
        box-shadow: 0 0 20px rgba(0, 0, 0, 1);
        animation-name: port;
        animation-duration: 2s;
    }
    @keyframes port {
        0% {
            opacity: 0;
            background-color: rgba(255, 255, 255, 0.671);
        }
        100% {
            opacity: 1;
            background-color: transparent;
        }
    }

    .displayBtn:is(:focus, :hover) {
        cursor: pointer;
        background-color: rgb(68, 68, 68);
    }
    #hire-me-button {
        width: 100px;
        padding: 7px 20px;
        border-radius: 20px;
        cursor: pointer;
        border: solid 3px var(--twitter-blue);
        background: transparent;
        color: white;
        font-family: var(--main-font);
        font-weight: bold;
    }
    #hire-me-button:is(:hover, :focus) {
        background-color: gray;
    }
}

/* STYLING THE ABOUT SECTION __________________________________________________________
________________________________________________________________________
__________________________________________________________________________________ */

#about-section {
    background-color: #dadbdb;
    padding: 8vh 0.5rem;
}
#about-section-container {
    background-color: #f6f6f6;
    padding: 0 0.5rem;
    margin: 0 auto;
    max-width: 1000px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.164);
    border-bottom: solid 4px var(--twitter-blue);
    border-radius: var(--container-border-radius);
}
h2 {
    text-align: center;
    color: var(--twitter-blue);
    font-size: var(--h2-size);
    font-family: var(--main-font);
}
#about-me-paragraph {
    text-align: justify;
    font-size: var(--text-size);
    color: black;
    font-weight: 500;
}
.mobile-underline, .mobile-underline-below, .white-underline, .white-underline-below {
    display: block;
    width: 100%;
    height: 4px;
    opacity: 0.5;
    border: none;
}
.mobile-underline {
    margin: 0 0 4px 0;
    background-color: #222;
}

.mobile-underline-below {
    margin: 4px 0 0 0;
    background-color: #222;
}

#mobile-underline-blue, #mobile-underline-blue-below {
    width: 100%;
    height: 10px;
    opacity: 0.7;
    border: none;
}

#mobile-underline-blue {
    position: relative;
    right: 0; 
    left: 0;
    margin: 0 0 10px 0;
    background: linear-gradient(90deg, rgba(34, 34, 34, 0.359), rgba(209, 209, 209, 0.396));
    border-radius: 0 10px 100% 100%;
}
#mobile-underline-blue-below {
    margin: 10px 0 0 0;
    background: linear-gradient(90deg, rgba(211, 211, 211, 0.384), rgba(34, 34, 34, 0.39));
    border-radius: 100% 100% 0 10px;
}
#profile-picture {
    width: var(--profile-picture-width);
    border: solid 7px #222;
    border-radius: 50%;
    float: left;
    margin-right: 1rem;
}
#fl {
    font-weight: 600;
    font-size: 2rem;
}
.hyperlink {
    color: var(--dark-green);
    font-weight: bolder;
}

/* MEDIa QUERY FOR LARGER SCREENS */
@media screen and (mIn-width: 750px) {
    /* #mobile-underline, #mobile-underline-below {
        display: none;
    } */
    #mobile-underline-blue, #mobile-underline-blue-below {
        width: 100%;
        height: 20px;
        opacity: 0.7;
    }
    #mobile-underline-blue {
        right: 0; 
        left: 0;
        margin: 0 0 10px 0;
    }
}

/* STYLING THE PORTFOLIO SECTION ___________________________________________________
___________________________________________________________________________________
______________________________________________________________________________________
_________________________________________________________________*/

#portfolio-section {
    background-color: gray;
    padding: 8vh 0.5rem;
}
#portfolio-section-container {
    background-color: #222;
    padding: 0 0.5rem;
    margin: 0 auto;
    max-width: 1000px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.164);
    border-bottom: solid 4px var(--twitter-blue);
    border-radius: var(--container-border-radius);
}
.white-underline {
    margin: 0 0 4px 0;
    background-color: rgb(255, 255, 255);
}

.white-underline-below {
    margin: 4px 0 0 0;
    background-color: rgb(255, 255, 255);
}
#portfolio-content-container {
    background-color: #222;
    border-radius: 10px;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.74);
}
#caption-container {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    /* border: solid 4px blue; */
}
.figure {
    margin: 0 2px 12px 2px;
    display: block;
    /* border: solid 4px blue; */
    /* width: 40%; */
    max-width: 100%;
    flex: auto 1 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}
.portfolio-caption {
    display: none;
    z-index: 5;
    text-align: center;
    color: white;
    font-style: var(--main-font);
    font-weight: bolder;
}
.click-to-view {
    cursor: pointer;
    width: 100%;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 1.5vw 0;
    background-color: var(--twitter-blue-with-opacity-faded);
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 1); */
}
.click-to-view:is(:focus, :hover) {
    background-color: rgb(102, 102, 102);
    padding: 1.7vw 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}

.my-portfolio-thumbnail {
    height:auto;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.thumbnail-item {
    position: relative;
    z-index: 4;
    text-align: center;
    color: white;
    font-size: var(--thumbnail-font-size);
    font-family: var(--main-font);
    font-weight: bolder;
}
#web-dev-thumbnail {
    height: 150px;
    background: linear-gradient(45deg, rgba(34, 34, 34, 0.547), rgba(34, 34, 34, 0.526)), url(https://db3pap005files.storage.live.com/y4mCR87DZVwF4Hb1ZP7UcG4pXT9jZx5CtKlpuguitlc8NGpUKr3cB9V8sfOJ6_3uf1--L5HQkCzB2IN0zZV77b2MD1_Bt0lfI12CUAoPjcTBRuoWQFKxuwSZY_usa0QDeQDlp1UMrDx_0iN3Rx_rFZwPTs9ngvz0WOf05G038kDPRG7LEqPoy5szOtVJUkm5Zm6?width=4272&height=2848&cropmode=none);
    background-size: cover;
    background-position: center;
    /* box-shadow: 0 0 8px 8px rgba(119, 166, 194, 0.295) inset; */
}
.other-portfolio-links {
    display: block;
    color: var(--twitter-blue-with-opacity-faded);
    font-size: 1rem;
}

@media screen and (mIn-width: 750px) {
    #caption-container {
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .figure {
        /* border: solid 4px blue; */
        width: 100%;
        max-width: 100%;
        flex: auto 1 0;
    }
    .thumbnail-item {
        color: rgb(236, 250, 255);
        font-size: var(--thumbnail-font-size);
        font-family: var(--main-font);
        font-weight: bolder;
    }
    .click-to-view {
        font-size: 1.3rem;
        padding: 1.2vw 0;
    }
    .click-to-view:is(:focus, :hover) {
        padding: 1.4vw 0;
    }
}

/* ____________________________________________________________________
__________________________________________________________ */
/* tHE CODE BELOW SPECIFIES THE STYLING FOR THE FOOTER SECTION */
#footer {
    background-color: var(--gray-color);
    padding: var(--section-padding);
}
#footer-container {
    padding: var(--container-padding);
    margin: var(--container-margin);
    max-width: 1000px;
}
.footer-link {
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.footer-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.5rem;
}
.top-footer-links {
    flex-direction: column;
    align-items: center;
}
.bottom-links {
    margin: 0.7em;
}